<ons-page ng-controller="LoginController">
  <ons-toolbar>
    <div class="center">{{'common.login' | translate}}</div>
  </ons-toolbar>
  <div class="login-form">
    <ons-button modifier="large" class="login-button bgcolor-facebook" ng-click="login()">
      <ons-icon icon="fa-facebook-square" style="font-size: 28px;" fixed-width="false"></ons-icon>Facebookでログイン
    </ons-button>
    
    <ons-button modifier="large" class="login-button bgcolor-twitter" ng-click="login()">
      <ons-icon icon="fa-twitter-square" style="font-size: 28px;" fixed-width="false"></ons-icon>Twitterでログイン
    </ons-button>

    <hr>
    <input type="email" class="text-input--underbar" placeholder="Email" value="">
    <input type="password" class="text-input--underbar" placeholder="Password" value="">
    <br><br>
    <ons-button modifier="large" class="login-button" ng-click="login()">{{'common.login' | translate}}</ons-button>
    <br><br>
    <ons-button modifier="quiet" class="forgot-password">Forgot password?</ons-button>
    <ons-button modifier="quiet" class="forgot-password" ng-click="signup()">{{'common.signup' | translate}}</ons-button>
  </div>
</ons-page>
