<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button>
        <ons-icon icon="ion-arrow-left-c" style="font-size: 28px;" fixed-width="false" ui-sref="index"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      {{'model.FestUser.name' | translate}}
    </div>
    <div class="right">
      <ons-toolbar-button>
        <ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;" ui-sref="FestUser.add"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <ons-list>
    <ons-list-item modifier="chevron" ng-repeat="record in records">
      <ons-row ui-sref="FestUser.detail({ id: record.id })">
        <ons-col width="30px">
          <ons-icon icon="ion-document-text" class="list-item-icon"></ons-icon>
        </ons-col>
        <ons-col>
          {{record.id}}
        </ons-col>
      </ons-row>
    </ons-list-item>
  </ons-list>
</ons-page>
