<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="components/loader.js"></script>
    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/app.js"></script>
    <script>
      ons.bootstrap();
    </script>
  </head>
  <body>
    <!--
    <ons-tabbar>
      <ons-tab page="" label="ライブ配信" icon="fa-video-camera">
      </ons-tab>
    </ons-tabbar>
  -->
    <ons-navigator title="Navigator" var="myNavigator">
      <ons-page>
        <ons-toolbar>
          <div class="center">ログイン</div>
          <!--
          <div class="right"><ons-toolbar-button>Close</ons-toolbar-button></div>
          -->
        </ons-toolbar>

        <div class="login-form">
          <input type="email" class="text-input--underbar" placeholder="メールアドレス" value="">
          <input type="password" class="text-input--underbar" placeholder="パスワード" value="">
          <br><br>
          <ons-button modifier="large" class="login-button" onclick="myNavigator.pushPage('top.html', { animation : 'lift' } )">ログイン</ons-button>
          <br><br>
          <ons-button modifier="quiet" class="forgot-password" onclick="myNavigator.pushPage('page1.html', { animation : 'lift' } )">サインアップ</ons-button>
          <ons-button modifier="quiet" class="forgot-password">パスワードを忘れた</ons-button>
        </div>
      </ons-page>
      <ons-template id="page1.html">
        <ons-page>
          <ons-toolbar>
            <div class="left"><ons-back-button>戻る</ons-back-button></div>
            <div class="center">サインアップ</div>
          </ons-toolbar>
          <div class="formarea">
            <div class="form-row">
              <input type="text" class="text-input--underbar width-full" placeholder="ユーザー名" value="">
            </div>
            <div class="form-row">
              <input type="email" class="text-input--underbar width-full" placeholder="メールアドレス" value="">
            </div>

            <div class="form-row">
              <input type="password" class="text-input--underbar width-full" placeholder="パスワード" value="">
            </div>

            <div class="lucent">
              <p class="note">パスワードは6桁以上の英数字・記号で入力して下さい。</p>
            </div>

            <div class="vspc form-row">
              <ons-button modifier="large--cta">サインアップ</ons-button>
            </div>
          </div>
        </ons-page>
      </ons-template>
      <ons-template id="top.html">
        <ons-page>
          <ons-toolbar>
            <div class="left">
            </div>
            <div class="center">
              トップ
            </div>
            <div class="right">
              <ons-toolbar-button>
                <ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;" onclick="myNavigator.pushPage('event-new.html', { animation : 'lift' } )"></ons-icon>
              </ons-toolbar-button>
            </div>
          </ons-toolbar>
          <div class="navigation-bar">
            <div class="navigation-bar__center">

              <!-- segment control -->
              <div class="button-bar" style="width:200px; margin:8px auto 0;">
                <div class="button-bar__item">
                  <input type="radio" name="navi-segment-a" checked>
                  <div class="button-bar__button">Today</div>
                </div>
                <div class="button-bar__item">
                  <input type="radio" name="navi-segment-a">
                  <div class="button-bar__button">Tomorrow</div>
                </div>
              </div>

            </div>
          </div>
          <ons-list class="plan-list">
            <ons-list-item modifier="chevron" class="plan" ng-repeat="a in [1,2,3,4,5,6,7,8,9,10]">
                <ons-row>
                  <ons-col width="80px" class="plan-left">
                    <div onclick="ons.notification.alert({message: 'aaa'});"class="plan-date">5:30 PM</div>
                    <div class="plan-duration">1h</div>
                  </ons-col>

                  <ons-col width="6px" class="plan-center" ng-style="{backgroundColor:a % 3 == 1 ? '#3399ff' : '#ccc'}">
                  </ons-col>
                  <ons-col class="plan-right">
                    <div class="plan-name">Onsen UI Meetup</div>

                    <div class="plan-info">
                      <div ng-hide="a % 4 == 0">
                        <ons-icon icon="fa-phone"></ons-icon>123-456-789
                      </div>
                      <div ng-hide="a % 3 == 0">
                        <ons-icon icon="fa-map-marker"></ons-icon>Moscone, San Francisco
                      </div>
                    </div>
                  </ons-col>
                </ons-row>

            </ons-list-item>
          </ons-list>
          <!--
          <ons-tabbar>
            <ons-tab page="" icon="ion-search" label="検索" active="true">
            </ons-tab>
            <ons-tab page="" icon="ion-heart" label="ウォッチ中">
            </ons-tab>
            <ons-tab page="" icon="ion-person" label="アカウント">
            </ons-tab>
          </ons-tabbar>
        -->
        </ons-page>
      </ons-template>
      <ons-template id="event-new.html">
          <ons-page>
            <ons-toolbar>
              <!--
              <div class="right"><ons-toolbar-button onclick="myNavigator.popPage();">キャンセル</ons-toolbar-button></div>
            -->
              <div class="left">
                <ons-toolbar-button onclick="myNavigator.popPage();"><ons-icon icon="ion-arrow-left-c" style="font-size: 28px;" fixed-width="false"></ons-icon></ons-toolbar-button>
              </div>
              <div class="center">新規イベント</div>
            </ons-toolbar>
            <form id="event-form">
              <ons-list modifier="inset" style="margin-top: 10px">
                <ons-list-item>
                  <input type="text" class="text-input text-input--transparent" placeholder="タイトル" style="width: 100%">
                </ons-list-item>
                <ons-list-item>
                  <textarea class="textarea textarea--transparent" placeholder="概要（200字以内）" style="width: 100%; height: 100px;"></textarea>
                </ons-list-item>
                <ons-list-item modifier="chevron" class="list__item--tappable list__item__line-height">
                  <ons-row>
                    <ons-col width="29px">
                      <ons-icon icon="fa-calendar" class="list-item-icon"></ons-icon>
                    </ons-col>
                    <ons-col class="range-wrapper">
                      <label class="list-item-label">開始日時</label>
                    </ons-col>
                  </ons-row>
                </ons-list-item>
                <ons-list-item modifier="chevron" class="list__item--tappable list__item__line-height">
                  <ons-row>
                    <ons-col width="29px">
                      <ons-icon icon="fa-calendar" class="list-item-icon"></ons-icon>
                    </ons-col>
                    <ons-col class="range-wrapper">
                      <label class="list-item-label">終了日時</label>
                    </ons-col>
                  </ons-row>
                </ons-list-item>
                <ons-list-item modifier="chevron" class="list__item--tappable list__item__line-height">
                  <ons-row>
                    <ons-col width="29px">
                      <ons-icon icon="fa-map-marker" class="list-item-icon"></ons-icon>
                    </ons-col>
                    <ons-col class="range-wrapper">
                      <label class="list-item-label">開催場所</label>
                    </ons-col>
                  </ons-row>
                </ons-list-item>
                <ons-list-item modifier="tappable" class="list__item--tappable list__item__line-height">
                  <span class="list-item-label">#&nbsp;</span><input type="text" class="text-input text-input--transparent" placeholder="Twitterハッシュタグ">
                </ons-list-item>
                <ons-list-item modifier="tappable" class="list__item--tappable list__item__line-height">
                  <label class="list-item-label">公開する</label>
                  <ons-switch modifier="list-item" checked></ons-switch>
                </ons-list-item>
              </ons-list>
              <ons-button modifier="large" style="width: 80%; margin: 8px auto;" onclick="myNavigator.pushPage('event-detail.html', { animation : 'lift' } )">保存する</ons-button>
              <!--
              <ons-button onclick="myNavigator.pushPage('top.html', { animation : 'lift' } )">削除する</ons-button>
              <ons-button onclick="myNavigator.pushPage('top.html', { animation : 'lift' } )">外部サービスから読み込む</ons-button>
            -->
              <!--
              <ons-tabbar>
                <ons-tab page="" label="保存" icon="fa-save" onclick="myNavigator.pushPage('event-detail.html', { animation : 'slide' } )">
                </ons-tab>
                <ons-tab page="" label="削除" icon="ion-close">
                </ons-tab>
              </ons-tabbar>
            -->
            </form>
          </ons-page>
      </ons-template>
      <ons-template id="event-detail.html">
        <ons-page modifier="shop-details">

          <ons-toolbar modifier="transparent">
            <div class="right">
              <ons-toolbar-button onclick="myNavigator.pushPage('event-new.html', { animation : 'slide' } )">
                <ons-icon icon="fa-edit" style="color: white"></ons-icon>
              </ons-toolbar-button>
            </div>
            <div class="left">
              <ons-toolbar-button onclick="myNavigator.popPage();"><ons-icon icon="ion-arrow-left-c" style="color: white; font-size: 28px;" fixed-width="false"></ons-icon></ons-toolbar-button>
            </div>
          </ons-toolbar>

          <div class="card">

            <div class="card-name">テストイベント</div>
            <div class="card-desc">テストイベントの概要</div>

          </div>
          <!--
          <div class="rating"><div class="rating-num">
              <ons-icon icon="fa-star" fixed-width="false"></ons-icon>
              <ons-icon icon="fa-star" fixed-width="false"></ons-icon>
              <ons-icon icon="fa-star" fixed-width="false"></ons-icon>
              <ons-icon icon="fa-star" fixed-width="false"></ons-icon>
              <ons-icon icon="fa-star-half" fixed-width="false"></ons-icon>
              4.5
          </div></div>
        -->
          <ons-list style="border-top: none"><ons-list-item style="line-height: 1; padding: 0;">
            <ons-row class="action">
              <!--
              <ons-col class="action-col">
                <div class="action-icon"><ons-icon icon="ion-ios7-star-half"></ons-icon></div>
                <div class="action-label">Rate</div>
              </ons-col>
            -->
              <ons-col class="action-col">
                <div class="action-icon"><ons-icon icon="ion-heart"></ons-icon></div>
                <div class="action-label">ウォッチ</div>
              </ons-col>

              <ons-col class="action-col">
                <div class="action-icon"><ons-icon icon="ion-share"></ons-icon></div>
                <div class="action-label">シェア</div>
              </ons-col>
              <ons-col class="action-col">
                <div class="action-icon"><ons-icon icon="ion-calendar"></ons-icon></div>
                <div class="action-label">カレンダーに登録</div>
              </ons-col>
            </ons-row>
          </ons-list-item></ons-list>

          <ons-list style="margin-top: 12px;">
            <ons-list-item>
              <div class="prop-desc" modifier="chevron">
                <ons-icon icon="fa-calendar"></ons-icon>
                2015/05/23 19:00-21:00
              </div>
            </ons-list-item>
            <ons-list-item modifier="chevron">
              <div class="prop-desc">
                <ons-icon icon="fa-map-marker"></ons-icon>
                東京都港区高畠3-19-20
              </div>
            </ons-list-item>
            <ons-list-item modifier="chevron">
              <div class="prop-desc" onclick="myNavigator.pushPage('event-detail.html', { animation : 'slide' } )">
                <ons-icon icon="fa-comment"></ons-icon>
                タイムライン
              </div>
            </ons-list-item>
          </ons-list>
        </ons-page>
      </ons-template>
      <ons-template id="timeline.html">
        <ons-page>
          <ons-toolbar>
            <div class="left">
              <ons-toolbar-button>
                <ons-icon icon="ion-compose" fixed-width="false" style="font-size: 26px; vertical-align: -4px"></ons-icon>
              </ons-toolbar-button>
            </div>
            <div class="center">
              Timeline
            </div>
            <div class="right">
              <ons-toolbar-button>
                <ons-icon icon="ion-ios7-search-strong" fixed-width="false" style="font-size: 26px; vertical-align: -4px;"></ons-icon>
              </ons-toolbar-button>
            </div>
          </ons-toolbar>

          <ons-list class="timeline" modifier="inset">
            <ons-list-item class="timeline-li" modifier="tappable" ng-repeat="i in [1,2,3,4,5,6,7,8,9]">
              <ons-row>
                <ons-col width="50px">
                  <img ng-src="http://ja.onsen.io/patterns/images/profile-image-0{{i}}.png" class="timeline-image">
                </ons-col>

                <ons-col>
                  <div class="timeline-date">3m</div>
                  <div class="timline-from">
                    <span class="timeline-name">Shumpei</span>
                    <span class="timeline-id">@shumpei</span>
                  </div>

                  <div class="timeline-message">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </div>
                </ons-col>
              </ons-row>
            </ons-list-item>
          </ons-list>
        </ons-page>
      </ons-template>
    </ons-navigator>
  </body>
</html>
