<ons-page ng-controller="UserGroupAddController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button onclick="myNavigator.popPage();">
        {{'common.cancel' | translate}}
      </ons-toolbar-button>
    </div>
    <div class="center">New UserGroup</div>
    <div class="right">
      <ons-toolbar-button ng-click="save()">
        {{'common.save' | translate}}
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <ons-list modifier="inset" class="form-layout">
      <ons-list-item>
                <input type="text" class="text-input text-input--transparent width-full"
            placeholder="{{'model.UserGroup.property.name' | translate}}"             ng-model="record.name">
            </ons-list-item>
      <ons-list-item>
                <input type="text" class="text-input text-input--transparent width-full"
            placeholder="{{'model.UserGroup.property.profile' | translate}}"             ng-model="record.profile">
            </ons-list-item>
      <ons-list-item>
                <input type="text" class="text-input text-input--transparent width-full"
            placeholder="{{'model.UserGroup.property.iconUrl' | translate}}"             ng-model="record.iconUrl">
            </ons-list-item>
  </ons-list>
</ons-page>
