<ons-page ng-controller="UserGroupDetailController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button onclick="myNavigator.popPage();">
        <ons-icon icon="ion-arrow-left-c" style="font-size: 28px;" fixed-width="false"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">{{'model.UserGroup.name' | translate}}#{{record.id}}</div>
    <div class="right">
      <ons-toolbar-button>
        <ons-icon icon="ion-edit" fixed-width="false" style="vertical-align: -4px;"
          ng-click="edit()"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <ons-list modifier="inset" class="form-layout">
          <ons-list-item>
        <ons-row>
          <ons-col>
            <label class="list-item-label">{{'model.UserGroup.property.name' | translate}}</label>
          </ons-col>
          <ons-col align="right">
                            {{record.name}}
                        </ons-col>
        </ons-row>
      </ons-list-item>
          <ons-list-item>
        <ons-row>
          <ons-col>
            <label class="list-item-label">{{'model.UserGroup.property.profile' | translate}}</label>
          </ons-col>
          <ons-col align="right">
                            {{record.profile}}
                        </ons-col>
        </ons-row>
      </ons-list-item>
          <ons-list-item>
        <ons-row>
          <ons-col>
            <label class="list-item-label">{{'model.UserGroup.property.iconUrl' | translate}}</label>
          </ons-col>
          <ons-col align="right">
                            {{record.iconUrl}}
                        </ons-col>
        </ons-row>
      </ons-list-item>
      </ons-list>
  <ons-button modifier="large--quiet" ng-click="remove()">{{'common.delete' | translate}}</ons-button>
</ons-page>
