<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ui-sref="User.list">
        {{'common.cancel' | translate}}
      </ons-toolbar-button>
    </div>
    <div class="center">New User</div>
    <div class="right">
      <ons-toolbar-button ng-click="save()">
        {{'common.save' | translate}}
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <ons-list modifier="inset" class="form-layout">
    <ons-list-item>
      <input type="text" class="text-input text-input--transparent width-full" placeholder="{{'model.User.property.realm' | translate}}" ng-model="record.realm">
    </ons-list-item>
    <ons-list-item>
      <input type="text" class="text-input text-input--transparent width-full" placeholder="{{'model.User.property.username' | translate}}" ng-model="record.username">
    </ons-list-item>
    <ons-list-item>
      <input type="text" class="text-input text-input--transparent width-full" placeholder="{{'model.User.property.password' | translate}}" ng-model="record.password">
    </ons-list-item>
    <ons-list-item>
    </ons-list-item>
    <ons-list-item>
    </ons-list-item>
    <ons-list-item>
      <input type="text" class="text-input text-input--transparent width-full" placeholder="{{'model.User.property.email' | translate}}" ng-model="record.email">
    </ons-list-item>
    <ons-list-item>
    </ons-list-item>
    <ons-list-item>
    </ons-list-item>
    <ons-list-item>
    </ons-list-item>
    <ons-list-item>
    </ons-list-item>
    <ons-list-item>
    </ons-list-item>
  </ons-list>
</ons-page>